/* bodyのPadding とか色とかを指定する */


/* フォントの指定 */
@font-face {
    font-family: 'Yumincho';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');
}

.header{
    font-family:'Yumincho', serif;  /* Yumincho フォントを指定 */
}

.body {
    background-color: #f0f0f0;
    font-family:'Yumincho', serif;  /* Yumincho フォントを指定 */
    /* padding: 10% 10%; */
    padding: 2vh 4vw;
    overflow-x: hidden;
}

.container{
    padding: 2vh 4vw;
    font-family:'Yumincho', serif;
}

