.header-container {
    display: flex;
    align-items: center;
    padding: 1.0vw  5vw;
    background-color: #3A3D46;
    border-bottom: 1px solid #e9ecef;
}

.title-box{
    padding: 0 1vw;
    justify-Content: 'center';
    align-items: 'center';
    flex: 1;
    height: max-content;
}

.title{
    color: #FFFFFF;
    font-size: 180%;
    /* font-size: 1.2rem; */
    margin: 0%;
    font-family: 'Yumincho', serif;  /* Yumincho フォントを指定 */
    font-weight: 600;
}   

.logo {
    display: 'flex';
    align-Items:'center';
}

/* styles.css */
.bordered-div {
    border: 0.00000001vw solid #3A3D46; /* White border using hex color code */
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-color: #3A3D46;
    border-bottom: 1px solid #e9ecef;
}

.nav-container p {
    color: #ffffff; 
    font-family:'Yumincho', serif;  /* Yumincho フォントを指定 */
    font-weight: 600;
    padding: 0.001vw 2%;
}

.front-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    flex-direction: row; 
    /* background-color: red; */
    padding: 4px 60px ;
    height: 400px;
    width: 80vw;
}

.front-image-title{
    text-align: left;
    /* background-color: antiquewhite; */
    height: 300px;
    width: 50vw;
    display: flex;
    justify-content: center; /* 縦方向の中央寄せ */
    flex-direction: column;  /* 縦方向に並べる */
    gap: 1px;              /* 要素間の間隔を指定 */
}


.front-image-title p {
    font-size: 2.8em;        
    color: #ffffff;          
    background-color: white;
    /* font-weight: 600; */
    color: #3A3D46;
    width: fit-content;
    font-family:'Yumincho', serif;  
    padding: 1.2% 4%;
    margin-bottom: 0px;
    margin: 1%;
}

.login-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;

}

.overall-container {
    /* position: relative; */
    height: 420px;
    width: 100%;
    align-items: center;  
    display: flex;
    /* background-color: red; */
    justify-content: center; 
    z-index: 1;
    background-image: url('./../images/front-image.png'); /* 画像を背景に指定 */
    background-size: cover;     /* 画像をコンテナ全体にフィットさせる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防止 */
}

.front-image-style { 
    height: 0.001vh;     
    object-fit: 'cover';
    position: 'relative'; 
};
