.title-bar{
    background-color: #3A3D46;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 0.4%;
}

.title-bar p{
    font-size: 1.2em;
    color: #ffffff;
    padding: 0.8% 0%;
}